@namespace EifelMono.Blazor.Bootstrap
@inherits Base.BootstrapComponent

<div class="@ClassToRender" style="@StyleToRender">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        ClassToRender.Empty(Class);
        StyleToRender.Empty(Style);
        AttributesToRender.Empty();
    }
}
