@inherits LayoutComponentBase
@using EifelMono.Blazor.Core
@inject IJSRuntime JsRuntime

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        this.EifelMonoMainLayoutInit(JsRuntime);
        base.OnInitialized();
    }

}
