@page "/contextbehavior"

<div>Context Behavior</div>
<div>Please look at the code to see more</div>

<div>Normal context</div>
<ForEach Items="@Enum.GetNames(typeof(DayOfWeek))">
    <div>context.Item=@context.Item</div>
</ForEach>

<div>Named context</div>
<div>This is nedded if the context is used in an other child content</div> 
<ForEach Items="@Enum.GetNames(typeof(DayOfWeek))" Context="dayOfWeekContext">
    <ContextBehaviorView>
        <div>dayOfWeek.Item=@dayOfWeekContext.Item</div>
    </ContextBehaviorView>
</ForEach>





