@page "/testplay"
<h1>Play</h1>

<FlowSetGlobals Context="MyGlobals">
    <div>ShowConsoleOutput: @MyGlobals.Component.ShowConsoleOutput</div>
    <div>ShowFlowErrors: @MyGlobals.Component.ShowFlowErrors</div>
    <div>ThrowFlowErrors: @MyGlobals.Component.ThrowFlowErrors</div>
</FlowSetGlobals>


<Timer>@DateTime.Now</Timer>


@code{
}




